# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [21]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [22]:
# Configure gmaps
gmaps.configure(api_key=g_key)

file_path = "../Vacation_Search/WeatherPy_Vacation.csv"

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [23]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv(file_path)

# Display sample data
vacation_df.head(10)

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,9,Nawalapitiya,LK,68.92,overcast clouds,7.0559,80.5348,Binara Villa
1,10,Chuy,UY,67.21,clear sky,-33.6971,-53.4616,Nuevo Hotel Plaza
2,14,Necochea,AR,66.78,clear sky,-38.5473,-58.7368,dyd -mar Hotel
3,28,East London,ZA,65.34,few clouds,-33.0153,27.9116,Tu Casa
4,55,Batangafo,CF,69.06,overcast clouds,7.3008,18.2833,OCHA Office
5,56,Castro,BR,65.10,broken clouds,-24.7911,-50.0119,CHACARA BAILLY
6,59,Springbok,ZA,67.84,clear sky,-29.6643,17.8865,Undulata Country Lodge
7,62,Lashio,MM,65.64,clear sky,22.9333,97.7500,Hotel CF Lashio - Burmese Only
8,87,Port Hedland,AU,69.85,clear sky,-20.3167,118.5667,The Esplanade Hotel
9,98,Saint-Philippe,RE,69.39,scattered clouds,-21.3585,55.7679,Le four à pain

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [24]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [25]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [26]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [27]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"]=="Carnarvon"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Carnarvon"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Port Hedland"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Ballina"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Sawtell"]

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [28]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]


# Get the lat and lng for the start and end of the trip
print(f'Start: {start}, End: {end}')

# Get the lat and lng for the stops
print(f'Stop 1: {stop1}, Stop 2: {stop2} Stop 3: {stop3}')

Start: (-24.8667, 113.6333), End: (-24.8667, 113.6333)
Stop 1: (-20.3167, 118.5667), Stop 2: (-28.8667, 153.5667) Stop 3: (-30.3833, 153.1)

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [36]:
# Define a new figure object
# Create Map with route
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [37]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,350,Carnarvon,AU,66.06,clear sky,-24.8667,113.6333,Hospitality Carnarvon
1,87,Port Hedland,AU,69.85,clear sky,-20.3167,118.5667,The Esplanade Hotel
2,424,Ballina,AU,65.01,broken clouds,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron
3,390,Sawtell,AU,66.22,overcast clouds,-30.3833,153.1000,The Bungalow Sawtell

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [38]:
# Review the formatting template
new_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [new_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [39]:
fig2 = gmaps.figure()

# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add the layer to the map
fig2.add_layer(marker_layer)

# Display the map
fig2

Figure(layout=FigureLayout(height='420px'))